<section ng-controller="ChatCtrl as chat">
    <div class="navbar">
        <h1>Bloc Chat</h1>
        <h4 ng-repeat="room in chat.rooms track by $index">
            <div ng-click="chat.setRoom(room)" id= "{{$index}}" ng-mouseover="hovered = true" ng-mouseleave="hovered = false">{{room.$value}}</div>
        </h4>
        <div ng-controller="ModalCtrl as modal">
            <button ng-click="modal.open()" class="btn"> add new room </button>
        </div>

    </div>
</section>
<section>
    <div class="container">
        <h2>{{ currentRoom.$value }}</h2>
        <table class="table">
            <tr ng-repeat="message in messages track by $index" class="row" ng-class="{oddRow: $odd}">
                <td class="username">
                    username
                    <br/>
                    content
                </td>
                <td class="sentAt">time sent</td>
            </tr>
            
        </table> 
        
    </div>
</section>
