<div>
    <div class="modal-header">
        <h3> Enter Username </h3>
    </div>

    <div class="modal-body">
        <form ng-submit="modal.accept()">
            <label for="username">username entered will appear in chat</label>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="modalUser.username" title="username" placeholder="Your username here" autofocus>
                <h4>{{ modalUser.name }}</h4>
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="modal.accept()">Submit</button>
    </div>
</div>
